<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= post.title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1><%= post.title %></h1>
    <p><%= post.content %></p>
    <p>Category: <%= post.category %></p>
    <p>Date: <%= post.date.toDateString() %></p>
    <a href="/">Back to Blog</a>
</body>
</html>
